*{
    margin: 0;
    padding: 0;
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem; 
    max-width: 400px;
  }
button{
    background-color: #cbcbcb;
}  